.card--bg {
    background: url("../images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card--main--container {
    position: relative;
    height: 15rem;
    width: 300px;
    margin: auto;

    .card--container {
        width: 275px;
        height: auto;
        position: absolute;

        &:nth-child(1) {
            z-index: 9;
            top: 7rem;
            left: 0;
        }
        
        &:nth-child(2) {
            top: 1rem;
            right: 0;
        }

        .card {
            position: relative;
        }

        .card--logo {
            position: absolute;
            left: 0;
            padding: 0.75rem 0 0 0.75rem;
        }

        .card--number {
            width: 100%;
            position: absolute;
            color: $white;
            font-size: 1.25rem;
            letter-spacing: .125rem;
            top: 5.5rem;
            right: 0;
            text-align: center;
        }

        .name-exp--container {
            position: absolute;
            width: 100%;
            margin: auto;
            right: 0;
            bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            padding: 0 .75rem;

            .card--name {
                font-size: .75rem;
                letter-spacing: .4px;
            }

            .card--exp {
                font-size: .75rem;
                letter-spacing: .4px;
            }
        }

        .card--cvc {
            position: absolute;
            right: 2.25rem;
            top: 4.075rem;
            color: $white;
            font-size: .875rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .card--main--container {
        height: 17.5rem;
        width: 350px;

        .card--container {
            width: 325px;

            &:nth-child(1) {
                top: 9rem;
            }
            
            &:nth-child(2) {
                top: 2rem;
            }

            .card--logo {
                padding: 0.7rem 0 0 0.7rem;
            }
    
            .card--number {
                font-size: 1.375rem;
                letter-spacing: 3.25px;
                top: 6rem;
            }
    
            .name-exp--container {
                padding: 0 .825rem;
    
                .card--name {
                    font-size: .8125rem;
                }
    
                .card--exp {
                    font-size: .8125rem;
                }
            }

            .card--cvc {
                font-size: 1rem;
                top: 4.75rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .card--main--container {
        width: unset;

        .card--container {
            width: 350px;

            &:nth-child(1) {
                top: -5rem;
                left: -8rem;
            }
            
            &:nth-child(2) {
                left: -5rem;
                top: 10rem;
            }

            .card--cvc {
                top: 5.2125rem;
            }

            .card--number {
                top: 6.5rem;
                font-size: 1.5rem;
            }
        }
    }
}