@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

// - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: Space Grotesk, sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

    .card--bg {
        margin-bottom: 3rem;
    }

    .form--completion--container {
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding-bottom: 5rem;

        .card--bg {
            margin-bottom: 5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;
        padding-bottom: unset;
        position: relative;

        .card--bg {
            background: url("../images/bg-main-desktop.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 20rem;
            margin-bottom: unset;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

@import "./card";
@import "./form";
@import "./completion";